@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts  included */
@layer base {
    @font-face {
        font-family: 'poppins_400';
        src: url('./assets/fonts//Poppins-Regular.ttf');
    }

    @font-face {
        font-family: 'poppins_500';
        src: url('./assets/fonts/Poppins-Medium.ttf');
    }

    @font-face {
        font-family: 'poppins_600';
        src: url('./assets/fonts/Poppins-SemiBold.ttf');
    }
}